.article {
  margin: 1vh;
  display: flex;
  flex-direction: column;
}
.articleLink {
  text-decoration: none;
  color: inherit;
}
.headingArticle {
  font-family: georgia, "times new roman", times, serif;
  font-size: 2rem;
  line-height: 1.15em;
  margin: 0;
  color: var(--color-content-primary, #121212);
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

.bodyArticle {
  color: var(--color-content-tertiary, #5a5a5a);
  font-family: georgia, "times new roman", times, serif;
  font-size: 1rem;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  line-height: 1.375rem;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 0.5rem;
}

.minRead {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.6875rem;
  line-height: 1.25em;
  -webkit-letter-spacing: 0.1em;
  -moz-letter-spacing: 0.1em;
  -ms-letter-spacing: 0.1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
  color: var(--color-content-quaternary, #727272);
  margin-top: 0.5rem;
}

.articleImg {
  margin-top: 2vh;
  opacity: inherit;
  width: 100%;
  vertical-align: bottom;
}
.divisor {
  margin: 0;
  border: 0;
  border-top: solid 1px var(--color-stroke-tertiary, #c7c7c7);
  height: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.captionImgArticle {
  font-family: helvetica, arial, sans-serif;
  font-size: 0.625rem;
  line-height: 1.3em;
  margin: 0;
  color: var(--color-content-quaternary, #727272);
  display: inline-block;
  vertical-align: text-top;
  line-height: 1.2em;
}
.articleFigure {
  margin: auto;
}
/*tablet*/
@media screen and (min-width: 620px) {
  .article {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .articleFigure {
    text-align: end;
  }
  .colonna {
    min-width: 70%;
  }
  .articleImg {
    img {
      max-height: 55vh;
    }
  }
}
@media screen and (min-width: 2560px) {
  .headingArticle {
    font-size: 4rem;
  }
  .bodyArticle {
    font-size: 2rem;
  }
  .captionImgArticle,
  .minRead {
    font-size: 1.3rem;
  }
}
