.date {
  justify-content: flex-start;
  margin: -1vh;
  padding: 13px 20px 12px;
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
  background-color: #f7f7f7;
  font-size: 11px;
  display: flex;
  font-family: helvetica, arial, sans-serif;
}
@media screen and (min-width: 620px) {
  .date {
    font-size: 22px;
  }
}
