.line {
  /*imposto prima riga*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  > :nth-child(2) {
    /*logo centrato*/
    margin: 0.5vh auto;
  }
  /*allineao tasto menu al resto*/
  > :nth-child(1) {
    margin-left: 1.5vh;
  }
}
