.menu {
  position: fixed; /* Puoi usare 'absolute' al posto di 'fixed' se preferisci */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.95
  ); /* Colore di sfondo del menu con opacità */
  z-index: 100; /* Imposta il valore z-index in modo che sia sopra gli elementi sottostanti, ma sotto l'header */
  transition: transform 0.3s ease-in-out; /* Aggiungi una transizione per un effetto di apertura e chiusura più fluido */
  transform: translateY(-100%);
}
.open {
  transform: translateY(0);
}
