.search {
  border: 1px solid rgb(226, 226, 226);
  box-sizing: border-box;
  color: rgb(102, 102, 102);
  font-size: 1rem;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: normal;
  height: 35px;
  letter-spacing: 0.5px;
  line-height: 16px;
  margin: 0px;
  padding: 1px 40px 0px 10px;
  vertical-align: middle;
  width: 100%;
}

.submit {
  cursor: default;
  opacity: 0.5;
  font-family: helvetica, arial, sans-serif;
  white-space: nowrap;
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  color: rgb(255, 255, 255);
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  height: 35px;
  font-weight: bold;
  margin: 0px;
  padding: 8px 9px 6px;
  vertical-align: middle;
}
.searchForm {
  padding: 3vh;
  display: flex;
  margin: auto;
}
